.sidebar {
  position: fixed;
  width: 200px;
  top: 380px;
  left: 10px;
  background: rgb(70, 70, 70);
  padding: 12px 0;
  border-radius: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  color: #65a5da;
  display: block;
}

.sidebar a:hover {
  color: #4979a0;
}

.main {
  margin-left: 220px;
  margin-right: 120px;
  padding: 0px 20px;
  font-size: 26px;
}

.list {
  float: left;
  width: 310px;
  height: 160px;
  padding: 10px;
  margin: 6px;
  border: 4px;
  border-style: solid;
  border-radius: 12px;
  border-color: #139244;
  transition: transform 0.2s;
}

.list:hover {
  transform: scale(1.1);
}

.duration {
  float: right;
  margin-top: 8px;
  margin-bottom: 8px;
}

.education {
  padding: 12px;
  border: 4px;
  margin: 4px;
  border-style: solid;
  border-color: #139244;
  border-radius: 12px;
  transition: transform 0.2s;
}

.education:hover {
  transform: scale(1.04);
}

.edu h2 {
  float: left;
  font-size: 1.2em;
  margin-top: 8px;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.2em;
  margin-top: 4px;
  margin-bottom: 4px;
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  padding: 2px;
}

header {
  padding: 64px;
  text-align: center;
  background: #139244;
  color: white;
  font-size: 30px;
  border-radius: 44px;
}

body {
  background-color: rgb(33, 33, 33);
  color: rgb(230, 230, 230);
}

footer {
  background: rgb(70, 70, 70);
  padding: 6px;
  border-radius: 6px;
  clear: both;
  position: relative;
  height: 60px;
  margin-top: -60px;
  font-size: 20px;
}
